.dropdown {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #ccc;
  user-select: none;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y: auto;
  text-align: justify;
  display: flex;
  gap: 20px;
}

.dropdown-content p {
  margin: 20px;
  flex: 1;
}
.dropdown-content-inner {
  padding: 0 10px;
  opacity: 0;
  transition:
    padding 0.4s ease,
    opacity 0.4s ease;
}

.dropdown.open + .dropdown-content {
  max-height: 350px; /* enough for your content */
  background-color: rgb(255, 254, 245);
  margin-bottom: 20px;
}

.dropdown.open + .dropdown-content p {
  color: #222;
}

.dropdown.open + .dropdown-content .dropdown-content-inner {
  padding: 12px;
  opacity: 1;
}
