.code-challenge-container {
  margin-top: 1rem;
  text-align: center;
}

#code-input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 200px;
}

button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#result-message {
  margin-top: 10px;
  font-weight: bold;
}

.console-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.console-container .terminal-screen {
  margin: 0;
}
