.journey-list {
  text-align: left;
  margin: 0 100px;
  padding: 0;
}

.journey-list a {
  color: #788288;
  text-decoration: none;
}

.dot-line {
  position: relative;
  list-style-type: none;
  text-align: left;
  padding-bottom: 10px;
}

.journey-list .phead {
  display: inline;
  margin: 0;
  font-weight: bold;
}

.journey-list p {
  margin-left: 30px;
  margin: 0 35px;
  text-align: justify;
}

.journey-list li span {
  display: inline-block;
  font-weight: 800;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #309898;
  color: white;
  position: relative;
}

.dot-line::before {
  content: "";
  position: absolute;
  background: #309898;
  z-index: -1;

  /* Fix positioning */
  top: 0; /* Start at the top of the list item */
  left: 15px; /* Adjust to center */
  width: 0.2em;
  height: 100%;
}

.journey-list li:last-child::before {
  display: none;
}

.pagination-window {
  width: 90%;
  height: 500px;
  overflow-y: auto;
  margin-top: 30px;
}

.prole {
  margin-top: 10px;
  font-weight: bold;
}

.pachievement {
  margin-left: 10px;
  list-style-type: disc;
  color: black;
}

@media (max-width: 768px) {
  .pagination-window {
    height: 300px;
  }

  .journey-list {
    width: 100%;
    margin: 0;
    font-size: 0.8rem;
  }

  .journey-list p {
    text-align: left;
  }

  .pagination-window {
    width: 100%;
    margin: 20px 0;
  }

  .journey-list li span {
    left: 0; /* optional tweak if dots misalign */
  }

  .dot-line::before {
    left: 9px;
  }
}
