<header>
  <div class="header-flex">
    <div class="logo-brand">
      <div class="header-logo">
        <img src="../views/assets/machine.png" alt="logo" />
      </div>
      <div class="header-brand">
        <h1 class="main-brand">Ed's Explorer Log</h1>
        <p class="tagline">Exploring the universe through code</p>
      </div>
    </div>

    <div class="nav-wrapper">
      <button class="menu-toggle" id="menu-toggle">☰</button>
      <nav>
        <ul class="nav-container" id="nav-items">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/console">Console</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="flex-line">
    <div class="horizontal-line line-red"></div>
    <div class="horizontal-line line-orange"></div>
    <div class="horizontal-line line-teal"></div>
  </div>
</header>
